.currency-list {
    table {
        width: 100%;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        text-align: left;
        border-spacing: 0;
        thead {
            tr {
                background-color: #f2f2f2c0;
            }
        }
        
        tbody {
            tr {
                &:hover {
                    background-color: #f2f2f252;
                }
            }
        }
        
        td,
        th {
            border-bottom: 1px solid #ddd;
            padding: 1rem;
            button {
                all: unset;
                // margin: 0 5px;
                cursor: pointer;
                transition: 0.3s;
                &:focus {
                    transition: 0.3s;
                    color: #006ebd;
                }
            }

            button:nth-child(2) {
                margin-left: 7px;
            }
            button:nth-child(1) {
                margin-right: 7px;
            }
        }
    }
}
